{:main hello-bundler.core
 :output-to "out/index.js"
 :output-dir "out"
 :target :bundle
 :bundle-cmd {:default ["npx" "webpack" "--mode=development"]
              :advanced ["npx" "webpack"]}
 :closure-defines {cljs.core/*global* "window"}} ;; needed for advanced
